body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

    background-color: lavender;
}
contact-page{
        background-color: dimgray;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #222;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: white;
}

.skills {
    text-align: center;
    padding: 40px;
}

.skill-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}